*{
  padding: 0;
  margin: 0;
}
.n1{
  margin: 20px 20px;


}
.new{
  width: 170px;
  height: 150px;
  border: 2px solid black;
   margin: 10px;
  display: inline-block;
}
.b1{
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: aqua;
  margin: 2px 100px 20px 100px;
}
.img{
  width: 170px;
  height: 150px;
}
.p{
font-size: 16px;
margin-top: 10px;
}
.inp{
  width: 600px;
  height: 40px;
  border-radius: 20px;
  margin: 20px 400px 0px 400px;
  border:2px solid black;
  padding-left: 10px;
}
.img23{
  height: 110px; 
  width: 3px;
}
.sli{
  width: 80%;
  height: 1px;
  margin: auto;
  
}
.s2{
  width: 10px;
  height: 100px;
  margin-right: 100px;
}
.s23{
  margin: 1rem;
}